<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" id = "main-navbar">
        <img src="images/icons/icon-text-trans.png" alt="KFUPM Communities Icon" id = "nav-icon">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id = "main-searchbar">
        </form>

          <div id = "nav-opt-container">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id = "navbar-username">
                    <img src="images/userIcon/userx.jpg" alt="icon" class = "userIcon">
                    {{navUsername}}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                  <li><a class="dropdown-item" href="/settings">Settings</a></li>
                  <li><a class="dropdown-item" href="mailto:fawazabdulaziz7@gmail.com">Contact Us</a></li>
                  <li><a class="dropdown-item" href="/login">Log out</a></li>
                </ul>
              </div>
            </div>
      </nav>