.postContainer {
	height: fit-content;
	padding: 25px;
	border-radius: 16px;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.postH1 {
	grid-area: 1 / 1 / 2 / 2;
	margin: 0px;
	margin-right: auto;
}

.create {
	grid-area: 1 / 2 / 2 / 3;
	padding: 0px 10px;
	border-radius: 16px;
	background-color: white;
}

.controlPosts {
	grid-area: 1 / 3 / 2 / 4;
}

#sorterButton,
#filterButton {
	margin: 0px 10px;
	width: 5vw;
	background-color: transparent;
	border-color: white;
	color: white;
}

.allPostsDiv, .allCommunitiesDiv {
	grid-area: 2 / 1 / 3 / 4;
	width: 100%;
}

.postDiv, .communityDiv {
	width: 100%;
	padding: 5px 10px 0px 10px;
	margin: 25px 0px;
	background-color: rgba(0, 0, 0, 0.75);
	border: solid 2px white;
	border-radius: 8px;
}

.upperPost {
	padding: 10px 25px;
	display: grid;
	column-gap: 15px;
	justify-content: start;
	align-items: center;
}

.userImg {
	grid-column: 1 / 2;
	border-radius: 50%;
	width: 7vh;
}

.communityImg{
	grid-column: 1 / 2;
	border-radius: 50%;
	width: 7vh;
	margin-left: 5px;
}

.userAccount{
	grid-column: 2 / 3;
	text-decoration: none;
	font-size: x-large;
	color: white;
}

.communityAccount{
	color: white;
	font-size: x-large;
	text-decoration: none;
}
.communityAccount:hover{
	font-weight: bold;
}

.communityTarget {
	text-decoration: none;
	color: white;
}

.postContent {
	height: fit-content;
	padding: 10px 0px;
}

.communityContent{
	height: 10vh;
	padding: 10px 0px;
	display: flex;
	column-gap: 2vw;
	justify-content: start;
	align-items: center;
}

.postText {
	margin: 0px;
}

.bottomPost {
	display: grid;
	grid-column: auto auto;
	justify-content: space-between;
}

.postInfo {
	grid-column: 1 / 2;
}

.postInteraction {
	grid-column: 2 / 3;
}

button {
	background-color: transparent;
	border-style: none;
}

svg {
	color: white;
}

span {
	color: white;
}

.numOfLikes,
.numOfDisikes,
.numOfComments {
	margin: 0px 5px;
}

ul {
	list-style-type: none !important; /* Remove default bullet points or numbering */
	padding: 0; /* Optional: Remove default padding */
	margin: 0; /* Optional: Remove default margin */
}


/*searched communities page is here. most styles are from above but some changes are down*/

.resultH1 {
	grid-area: 1 / 1 / 2 / 2;
	margin: 0px;
	margin-right: auto;
 }
