.login-grid{
    display: grid;
    grid-template-columns: auto 60vh auto;
    place-items: center; 
}

#login-shadow{
    background-color: black;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 5vh;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    height: 100%;
}

.login-grid-item {
    height: 100vh;
    
}


#login-icon{
    width: 30vh; 
}


#inputUsername, #inputPassword{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 5vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-size: 3vh;
    border-radius: 30px;
}


#inputUsername:focus, #inputUsername:hover, #inputPassword:focus, #inputPassword:hover{
    border-color: white;
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255, 1);
}

#inputUsername::placeholder, #inputPassword::placeholder{
    color: rgba(255, 255, 255, 0.9);
    font-size: 3vh;
    
}



#forgotPass, #login-contact{
    font-size: 2vh;
    padding-top: 3px;
    padding-left: 6px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: bold;
}


.center-items{
    display: flex;
    justify-content: center;
    
}

#login-button, #signup-button{
    width: 40vh;
    height: 5vh;
    margin-bottom: 10px;  
    font-size: 3vh;
    font-weight: bold;
    padding: 0px 0px 0px 0px; 
    border-radius: 30px;
}

#signup-button{
    width: 30vh;
}

#login-button:hover, #signup-button:hover{
    border-color: rgb(255, 255, 255, 1);
}

#login-contact{
    padding-top: 6vh;
}

#login-contact-container{
    height: 40px;
}
