#nav-icon {
	height: 10vh;
	margin-left: 5vh;
	margin-bottom: 7vh;
}

#main-navbar {
	background-color: rgba(0, 0, 0, 0.7) !important;
	border: 0px !important;
	height: 13vh;
	width: 100%;
	position: fixed;
}

#main-searchbar {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 30px;
	height: 6vh;
	width: 75vh;
	border-color: white;
	margin-bottom: 7vh;
	position: relative;
}

#main-searchbar::placeholder {
	color: rgba(255, 255, 255, 0.9);
	font-size: 3vh;
}

#main-searchbar:hover,
#main-searchbar:focus {
	box-shadow: 0 0 0 0.1rem rgb(255, 255, 255, 1);
}

#nav-opt-container {
	display: flex;
	align-items: center;
	border-radius: 30px;
	width: auto;
	margin-bottom: 7vh;
	height: 8vh;
	padding: 4vh;
}

.userIcon {
	height: 6vh;
	border-radius: 100px;
}

.navprofile {
	width: 50px;
}

#navbar-username {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 100px;
	color: white;
}

.dropdown:hover {
	box-shadow: white;
	/* border: 2px solid white; */
	border-radius: 100px;
}

.dropdown-item {
	background-color: rgba(0, 0, 0, 0.7);
}
.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.7);
}
