/* here you will style elements made in settings.html */
/* here you will style elements made in settings.html */
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 65%; /* 100% - 35% */
    float: left;
  }
  
  .settings-list {
    list-style: none;
    padding: 20px; /* Adding padding for spacing */
    margin: 20 auto;
    width: 300px;
    text-align: left; /* Align list items to the center */
    color: white;
    font-size: 25px; /* Increase font size */
    font-weight: 700;
  }
  
  .settings-list li {
    margin-bottom: 50px; /* Adding margin bottom for spacing between list items */
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%; /* 35% of the page */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .btn-primary {
    --bs-btn-bg: none !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-bg: green !important;
    --bs-btn-active-bg: green !important;
  }
  .offcanvas {
    background-color: gray; /* Gray background */
    color: white;
  }
  
  .offcanvas-header {
    background-color: rgb(39, 41, 41);
    background: transparent;
  }
  
  .offcanvas-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .edit-photo {
    text-align: center;
    color: white;
    margin-top: 45px;
  }
  
  .edit-bio {
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: white;
  }
  
  .offcanvas-body {
    background-color: rgb(39, 41, 41);
    background: transparent;
  }
  .form-control {
    background-color: rgb(39, 41, 41) !important;
    color: white !important;
  }
  .textarea {
    background-color: white !important;
    color: white !important;
  }
  textarea::placeholder {
    color: white !important;
  }
  .save-button {
    margin-top: 200px !important;
    background-color: white;
    color: black;
    border: none;
    border-radius: 1em;
    padding: 8px;
    margin: 170px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    align-items: center !important;
  }
  h5 {
    color: white !important;
  }
  .form-control::placeholder {
    color: white !important;
  }
  
  .save-button2 {
    margin-top: 500px !important;
    background-color: white;
    color: black;
    border: none;
    border-radius: 1em;
    padding: 8px;
    margin: 170px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 100px;
  }
  .custom-search-bar {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .offcanvas {
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ) !important; /* Adjust opacity as needed */
  }
  .mb-4 {
    width: 280px !important;
  }