.signup-grid {
    display: grid;
    grid-template-columns: auto 60vh auto;
    place-items: center;
    align-content: center;
}

#signup-shadow {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 5vh;
    top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
}

.signup-grid-item {
    height: 120vh;
}

#titleSignin {
    text-align: center;
    margin-bottom: 4vh;
}


#inputUsername, #inputPassword, #inputConfirmPassword, #inputEmail {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 5vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-size: 3vh;
    border-radius: 30px;
}


#inputUsername:focus, #inputUsername:hover, #inputPassword:focus, #inputPassword:hover,
#inputConfirmPassword:focus, #inputConfirmPassword:hover, #inputEmail:focus, #inputEmail:hover {
    border-color: white;
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255, 1);
}

#inputUsername::placeholder, #inputPassword::placeholder,
#inputConfirmPassword::placeholder, #inputEmail::placeholder{
    color: rgba(255, 255, 255, 0.9);
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

.center-items {
    display: flex;
    justify-content: center;
}

#signup-button {
    width: 30vh;
    height: 5vh;
    margin-top: 7vh;
    margin-bottom: 10px;
    font-size: 3vh;
    font-weight: bold;
    color: black;
    padding: 0px 0px 0px 0px;
    border-radius: 30px;
}

#signup-button:hover {
    border-color: rgb(255, 255, 255, 1);
}

#signup-contact {
    padding-top: 6vh;
}

#signup-contact-container {
    height: 40px;
}

#buttonBack{
    margin-top: 1vh;
    margin-bottom: 17vh;
    background-color: rgba(0,0,0,0);
    color: white;
    border-color: rgba(0,0,0,0);
}

#buttonBack:hover {
    font-weight: bold;
    background-color: rgb(128, 128, 128, 0.3);
}

#inputRadio {
    width: 18px;
    height: 18px;
    margin-top: 2vh;
    margin-left: 2vh;
    color: green;
    background-color: yellow;
}

#inputRadio::after {
    background-color: blue;
    color: red;
}

#labelRadio {
    font-size: 15px;
}
